# =========================
# PHP / Laravel / Slim / etc.
# =========================
vendor/
.env
.env.*
*.log
*.cache
*.tmp
*.sqlite
.DS_Store

# =========================
# Node / Tailwind CLI
# =========================
node_modules/
package-lock.json
package.json
tailwind.config.js

# Archivos generados por Tailwind
/frontend/public/css/output.css
/frontend/public/css/input.css

# =========================
# Editor / Sistema
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
Thumbs.db

# =========================
# Otros
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*