# =========================
# PHP / Laravel / Slim / etc.
# =========================
vendor/
.env
.env.*
*.log
*.cache
*.tmp
*.sqlite
.DS_Store

# =========================
# Node / Tailwind CLI
# =========================
node_modules/
package-lock.json

# Archivos generados por Tailwind
/public/assets/css/tailwind.css
/public/assets/css/tailwind.min.css
/src/

# =========================
# Editor / Sistema
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
Thumbs.db

# =========================
# Otros
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*