# =========================
# PHP / Laravel / Slim / etc.
# =========================
vendor/
.env
.env.*
*.log
*.cache
*.tmp
*.sqlite
.DS_Store

# =========================
# Node / Tailwind CLI
# =========================
node_modules/

# Archivos generados por Tailwind

# =========================
# Editor / Sistema
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
Thumbs.db
fontawesome/
fontawesome/css
fontawesome/svgs
# =========================
# Otros
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*