<IfModule mod_rewrite.c>
    RewriteEngine On

    # Previene acceso a carpetas privadas
    RedirectMatch 403 ^/(includes|components)/

    # Redirección a index si no existe archivo físico
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>